<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>MusicLand</title>
	    <link href="MusicLand/resources/css/bootstrap.min.css" rel="stylesheet">
	    <link href="MusicLand/resources/css/bootstrap.custom.css" rel="stylesheet">
</head>
<body>
	<div>
		<article>
	    <h1>Regulamin Sklepu Internetowego prowadzonego przez MusicLand Sp. z o.o.</h1>
		<p>Sklep internetowy funkcjonujący pod adresem www.musciland.pl prowadzony jest przez musicland
		Sp. z o.o. Topolowa 32/11, xx-xxx Kraków, wpisaną do rejestru przedsiębiorców
		prowadzonego przez Sąd Rejonowy w Krakowie, XIII Wydział Gospodarczy pod nr KRS
		0000175315, o numerze NIP: 521-32-61-690 wysokość kapitału zakładowego 890 500 zł. Spółka
		świadczy usługę na rzecz Klientów mających miejsce zamieszkania/siedzibę na terenie objętym
		zakresem działania Spółki.
		Zamówienia są realizowane z uwzględnieniem kolejności w jakiej są składane.
		</p>
			<ul>
				<li>1. Sprzedawca potwierdza fakt przyjęcia zamówienia do realizacji, na podstawie oferty, która
				została zaakceptowana przez obie Strony – Sprzedającego i Kupującego. Sprzedawca potwierdza
				przyjęcie zamówienia za pośrednictwem poczty elektronicznej a potwierdzenie to jest
				równoznaczne z zawarciem umowy kupna/sprzedaży, która wiąże swoimi postanowieniami obie
				strony.</li>
				
				<li>2. Złożenie zamówienia nie jest równoznaczne z przyjęciem zamówienia do realizacji. Sprzedawca
				zastrzega sobie prawo do odmowy przyjęcia zamówienia.</li>
				<li>3. Realizacja zamówień następuje po zaksięgowaniu wpłaty na koncie Sprzedącego, czas realizacji
				zamówienia to 48 h roboczych.</li>
				<li>4. Realizacja zamówienia oznacza przygotowanie wszystkich zamówionych produktów do wysyłki
				oraz nadanie przesyłki na wskazany przez Klienta adres korespondencyjny wysyłka zamówionych
				produktów odbywa się od poniedziałku do piątku.</li>
				<li>5. Wszystkie przesyłki nadawane są jako list polecony.</li>
				<li>6. Wysyłki realizowane są za pośrednictwem InPost S.A.</li>
				<li>7. Doręczenie przesyłki następuje w terminie do 5 dni roboczych zgodnie z Regulaminem Świadczenia Usług InPost S.A.</li>
			</ul>
			<h2>Rezygnacje</h2>
			<ul>
				<li>1. Kupujący ma prawo odstąpić od złożonego zamówienia w terminie 14 dni od daty jego złożenia
				wysyłając oświadczene na adres dok@mysafety.pl lub telefonicznie pod numerem 22 539 49 00.</li>
				<li>2. Jeśli zamówiony produkt został wydany, Kupujący w razie odstąpienia od umowy powinien go
				zwrócić w stanie nienaruszonym. W razie chęci skorzystania z przysługującego prawa Kupujący
				powinien dokonać zwrotu zakupionego produktu w stanie nienaruszonym na adres : mySafety Sp. z
				o.o. Skwer Wyszyńskiego 5, 01-015 Warszawa</li>
			</ul>
			<h2>Reklamacje</h2>
			<ul>	
				<li>1. Jeśli Kupujący ma zastrzeżenia co do świadczenia przez Spółkę mySafety usług, może złożyć
				reklamacje pisemnie przesyłając na adres siedziby Spółki.</li>
				<li>2. Dział Obsługi Klienta mySafety rozpatrzy ją w terminie do 30 dni od daty jej wpłynięcia oraz
				powiadomi Klienta o sposobie załatwienia sprawy.</li>
			</ul>
			<h2>Postanowienia Końcowe</h2>
			<ul>
				<li>1. Kwestie związane z ochroną danych osobowych reguluje dokument Polityka Ochrony Danych
				Osobowych w mySafety Sp. o.o.</li>
				<li>2. Kwestie szczegółowe dotyczące świadczonych usług dostępne są w regulaminach usług
				będących nieodłącznym elementem oferty.</li>
				<li>3. Złożenie zamówienia jest równoznaczne z akceptacją regulaminu.</li>
				<li>4. Regulamin wchodzi w życie 25.09.2015 r.</li>
			</ul>
		</article>
	</div>
</body>
</html>

