table{
    border-collapse: separate;
    border: 3mm ridge silver;
    border-spacing: 3mm;
    empty-cells: hide;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
td {
    border: 1mm ridge silver;
    padding:10px;
    text-align: center;
}
th{
    background: whitesmoke;
    padding:10px;
}